<!DOCTYPE html>
<html>
<head>
    <title>Dummy Generator</title>
</head>
<body>
    <h1>Generate Dummy Data</h1>
    <button onclick="window.location.href='/generate'">Generate Data</button>
</body>
</html>
